
#subtitle {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: larger;
}

#ticket{
    background-color: rgb(235,235,235);
    margin: 30px;
    padding: 10px;
    border-radius: 15px;
}

#list-comment{
    background-color: rgb(235,235,235);
    margin: 30px;
    padding: 10px;
    border-radius: 15px;
    color:black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

#text-billet {
    display: flex;
    flex-direction: column;
}

#titre-billet {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 35px;
    color: black;
}

#contenu-billet {
    margin-top: 5px;
    color: gray;
}

#billet-article{
    margin: 10px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#add-comment{
    background-color: rgb(235,235,235);
    margin: 30px;
    padding: 10px;
}

#page-selector {
    color: black;
    font-weight: bold;
    background-color: rgb(235,235,235);
    margin: 10px 40%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#page-selector button {
    color: black;
    font-weight: bold;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}

#form-commentaire input {
    transition-duration:.5s;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    margin-left: 5px;
    border: 0px;
}

#form-commentaire input:focus {
    outline: none;
    transition-duration:.5s;
    background-color: rgb(220, 220, 220);
}

#form-commentaire textarea {
    resize: none;
    transition-duration:.5s;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    margin-left: 5px;
    border: 0px;
}

#form-commentaire button {
    color:white;
    font-weight: bold;
    padding: 5px;
    border: 0px;
    width: 20%;
    background-color: rgb(121, 163, 255);
}

#form-commentaire textarea:focus {
    outline: none;
    transition-duration:.5s;
    background-color: rgb(220, 220, 220);
}

#comment-pseudo {
    display: flex;
    align-items: center;
}

#comment-content {
    display: flex;
    align-items: center;
}

#form-commentaire {
    flex-direction: column;
    display: flex;
    color: black;
    align-items: stretch;
    font-weight: bold;
}

#form-commentaire>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

#header-billet {
    display: flex;
    justify-content: space-between;
}

#edit-billet {
    visibility: hidden;
    height: 40px;
}

#trash-billet {
    height: 40px;
    visibility: hidden;
}

.comment-article {
    margin: 10px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:black
}

.detail-comment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: small;
}

.trash-comment {
    height: 30px;
    visibility: hidden;
}

.text-comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pseudo-comment {
    font-weight: bold;
}

.date-comment {
    color: gray;
}

.contenu-comment {
    color: grey;
}

.trash-comment:hover {
    animation: shake 0.4s;
    animation-iteration-count: infinite;
  }

#trash-billet:hover {
    animation: shake 0.4s;
    animation-iteration-count: infinite;
    
  } 
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  