#form-card form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-card div{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#form-card textarea {
  resize: none;
}

#form-card .input {
  transition-duration: .5s;
  padding: 7px 15px;
  margin-left: 5px;
  border: 0px;
}

#form-card .input:hover {
  outline: none;
  transition-duration:.5s;
  border: 0px;
  background-color: rgb(220, 220, 220);
}

#form-card {
  background-color: transparent;
  margin: 30px;
  padding: 10px;
  color: black;
  text-align: center;
  font-weight: bold;
}

#central{
  color:black;
  align-items: center;
}

div#button-text{
  display: flex;
  flex-direction: row;
  padding-bottom: 0px;
  align-items: center;
}

div#button-del{
  margin-bottom: 10px;
  padding-top:0px;
}

footer {
  background-color: rgb(121, 163, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  font-family: Arial;
  position: fixed;
  font-size:1vw;
  bottom: 0;
  width: 100%;
}

input[type=button] {
  border: solid 1px black;
  cursor:pointer;
}

button{
  border: solid 1px black;
  cursor:pointer;
}

input[type=input] {
  border: solid 1px black;
  cursor:pointer;
}

input[type=submit] {
  padding:5px 15px; 
  background:rgb(121, 153, 255); 
  border:0 none;
  cursor:pointer;
}

label{
  margin: 10px;
}

