#form-card form{
    padding: 5px;
}

#form-card div{
    padding: 10px;
}

#form-card textarea {
  resize: none;
}

#form-card {
  background-color: rgb(235,235,235);
  margin: 30px;
  padding: 10px;
  border-radius: 15px;
}

#center-form{
  text-align: center;
  color: black;
  margin-left: 25%;
  margin-right: 25%;
}
