
header {
    background-color: rgb(121, 163, 255);
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

header #options {
    height: 40px;
    margin: 15px;
}

header #burger {
    height: 40px;
    margin: 15px;
}

header .burgermenu {
    transition-duration: 0.5s;
    top:70px;
    width: 100px;
    position: fixed;
    right: -120px;
    background-color: white;
    padding: 10px;
}

header .burgermenu a {
    color: black;
}

header .element-header {
    width: 25%;
    padding: 0px 15px;
}

header .open {
    transition-duration: 0.5s;
    right: 0px;
}

#website-title {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    font-size: 35px;
}

#page-title {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 35px;
}

#burger-holder {
    justify-content: flex-end;
    align-items: center;
    display: flex;
}