
#liste-billets {
    background-color: rgb(235,235,235);
    margin: 30px;
    padding: 10px;
    border-radius: 15px;
}

#page-selector {
    color: black;
    font-weight: bold;
    background-color: rgb(235,235,235);
    margin: 10px 40%;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}

#page-selector button {
    color: black;
    font-weight: bold;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.billet {
    margin: 10px 10px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
}

.billet:hover {
    background-color: rgb(245, 245, 255);
}

.text-billet {
    display: flex;
    flex-direction: column;
}

.titre-billet {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 35px;
    color: black;
}

.detail-billet {
    color:gray;
}

.contenu-billet {
    margin-top: 5px;
    color: gray;
}