#settings-form {
    background-color: rgb(235,235,235);
    margin: 30px;
    padding: 20px 30px;
}

#settings-form form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#settings-article {
    margin: 10px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    color: black;
}

footer {
    background-color: rgb(121, 163, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-family: Arial;
    position: fixed;
    font-size:1vw;
    bottom: 0;
    width: 100%;
}

#settings-article form > div {
    margin: 7px;
    display: flex;
    flex-direction: row;
}

#settings-article button {
    width: 100px;
    align-self: center;
    border: none;
    outline: none;
    padding: 5px;
    font-weight: bold;
    margin: 5px;
}

#settings-article button:hover {
    background-color: rgb(220,220,220);
}

select {
    border: none;
    outline: none;
    background-color: rgb(235,235,235);
    padding: 5px;
    border-radius: 5px;
}

label{
    padding-right: 5px ;    
}